extends ../layout
block myCss
    link(type='text/css',href="/css/myCss/mask.css",rel="stylesheet")
    style(type='text/css').
        #wrapper {
            min-height: 700px;
        }

        .nav a {
            cursor: pointer
        }

        th, td {
            text-align: center;
            vertical-align: middle !important;
        }

        td.width350{
            width: 15%;
            font-size: 12px;
            text-align: left;
            color: #999999;
        }

        img.smallImg {
            width: 76px;
            height: 76px;
        }

        img.autoImg {
            max-width: 100%;
            max-height: 100%;
        }

        a.lookBackImgBtn, a.lookImgtextBtn {
            margin-top: 5px;
        }

        button.goOnBtn {
            margin: 10px 0;
        }

        input.leftTra {
            float: left;
        }
        .modal-body{
            overflow: hidden;
        }

        td img {
            width: 76px;
            height: 76px;
            border-radius: 50%;
        }

block title
    title 创程管理后台

block administratorName1
    a(href='#') 管理员

block administratorName2
    a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
        | #{userinfo.account}

block leftNav
    | !{leftNav}

block content
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    | 添加分类
                .panel-body
                    .form
                        form#commentForm.cmxform.form-horizontal.adminex-form(method='post',  action='/goodsclass/insertgoodsclass')
                            .form-group
                                label.control-label.col-lg-2(for='className') 添加分类
                                .col-lg-10
                                    input#className.form-control(name='className',  type='text', value='', required='')
                            .form-group
                                label.control-label.col-lg-2(for='type') 类型
                                .col-lg-6
                                    select#type.form-control(name="type",required="")
                                        option(value='1') 商品
                                        option(value='2') 服务
                            .form-group
                                .col-lg-offset-2.col-lg-10
                                    button.btn.btn-primary(type='submit',onclick="submitform()") 提交
block myScript
    //script(type='text/javascript', src='/js/jquery.validate.min.js')
    //script(src='/js/validation-init.js')
    //script(src='/js/jquery.validate.messages_zh.js')
    script(src='/js/jquery.validate.kuku.js')
    script(src='/js/jQuery-File-Upload-9.12.5/js/jquery.iframe-transport.js')
    script(src='/js/jQuery-File-Upload-9.12.5/js/jquery.fileupload.js')
    script(src='/js/angular-1.5.8/angular.min.js')
    //script(src='/js/formValidatorRegex.js')
    script(type='text/javascript').
        function submitform(){
            $('#commentForm').submit();
        }


